@font-face {
    font-family: 'HelveticaNew';
    src: url(coolvetica_rg.ttf);
  }
  
  @font-face {
      font-family: 'BabyDoll';
      src: url(Baby_Doll.ttf)
    }

  
  body {
      margin: 0px;
      padding:0px;
      box-sizing:border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /*navbar*/
  .logo{
      float:left;
      display:inline-block;
      width:160px;
      height:105px;
  }
  .navbar{
  
      background-color: #C84361;
      color:#ABCDCB;
      text-align: center;
      padding: 3px 57px;
      position: sticky;
      overflow: hidden;
      top:0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
  
  }
  .container{
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
  }
  
  .navbar ul{
      list-style: none;
  }
  .navbar ul li{
      display: inline-block;
      margin-right: 25px;
  }
  .navbar ul li a{
      font-size: 16px;
      text-decoration: none;
      color:#EBE59B;
      font-family: 'BabyDoll', sans-serif;
  }
  .navbar ul li a:hover{
      color:#E78775;
      
  }
  .navbar ul li i{
      margin:3px;
      color:#ABCDCB;
  }
  
  
  .searchbar{
      border-radius: 8px;
      overflow:hidden;
  }
  
  .searchbar i{
      color: #ABCDCB;
  }
  
 #product1{
    text-align: center;
 }

 #product1 h2{
    font-family: 'HelveticaNew', sans-serif;
    color: #C84361;
    font-size: 40px;
    margin-bottom: 5px;
 }

 #product1 p{
    font-family: 'BabyDoll', sans-serif;
    color: #99c6c3;
 }

 #product1 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;

 }


 #product1 .pro{
    width:18%;
    min-width:100px;
    padding:8px 15px;
    border: 1px solid #ABCDCB;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin:20px;
    transition: 0.2s ease;
 }

 #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
 }

 #product1 .pro img{
    width:100%;
    border-radius: 20px;
 }

 #product1 .pro .des{
    text-align: start;
    padding: 8px 0;
 }

 #product1 .pro .des h5{
    padding-top: 7px;
    color: #C84361;
    font-size: 14px;
 }


 #product1 .pro .des h4{
    padding-top: 7px;
    color: #C84361;
    font-weight: 700;
    font-size: 15px;
 }


 #product1 .pro .des i{
    font-size: 12px;
    color: #EBE59B;
 }


 #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: antiquewhite;
    font-weight: 500;
    color: #C84361;
    display: inline-block;
    float:right;

 }

 footer {
    padding: 5em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f55278;
 }

 footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
 }

 footer .logo{
    margin-bottom: 30px;
 }

 footer h4{
    font-size: 20px;
    font-family: 'HelveticaNew', sans-serif;
    color: #bcfffb;
    padding-bottom: 20px;
 }

 footer p{
    font-size: 13px;
    font-family: 'BabyDoll', sans-serif;
    margin: 0 0 8px 0;
    color: #EBE59B;
 }

 footer a{
    font-size: 13px;
    text-decoration: none;
    margin:0 0 8px 0;
    color: #EBE59B;
 }

 footer .follow{
    margin-top: 20px;
 }

 footer .follow i{
    padding-right: 4px;
    cursor: pointer;
    color: #EBE59B;
 }

 footer .copyright {
    width: 100%;
    text-align: center;
 }

 footer .copyright p{
    color: #252525;
 }
